@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	height: 100vh;
	margin: 0;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
}

.header,
.hero,
.info,
.quote-container,
.sign-up,
.footer {
	display: flex;
	padding: 0 8rem;
}

.hero,
.info,
.quote-container,
.sign-up {
	flex: 1;
}

.header h3 {
	font-size: 24px;
	color: #f9f1f8;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.header {
	justify-content: space-between;
}

.list-container {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.header,
.hero,
.footer {
	background-color: #1f2937;
}

.hero {
	justify-content: space-between;
	align-items: center;
}

.left,
.right {
	flex: 1;
	height: 200px;
}

.left {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.right {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e5e7eb;
	margin-left: 80px;
}

.hero-main {
	font-size: 48px;
	font-weight: extra-bold;
	color: #f9faf8;
}

.hero-main,
.hero-secondary {
	margin: 0;
}

.hero-secondary,
a {
	font-size: 18px;
	color: #e5e7eb;
}

button,
.sign-up-container {
	background-color: #3882f6;
}

button {
	font-family: Roboto, sans-serif;
	border: none;
	border-radius: 8px;
	color: #f9faf8;
	font-weight: bold;
	padding: 4px 20px;
}

.info-header {
	font-size: 36px;
	font-weight: extra-bold;
	color: #1f2937;
}

.quote-container {
	background-color: #e5e7eb;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.quote {
	font-size: 36px;
	font-style: italic;
	color: #1f2937;
	margin-bottom: 0;
}

.quote-by {
	align-items: flex-end;
	margin-top: 0;
	font-size: 24px;
	font-weight: bold;
}

.footer {
	color: #e5e7eb;
	justify-content: center;
}
