@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	height: 100vh;
	margin: 0;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
}

button {
	background-color: #3882f6;
	border: none;
	border-radius: 5px;
	padding: 5px 20px;
	color: #f9faf8;
	font-weight: bold;
}

/* header */
.header {
	display: flex;
	justify-content: space-between;
	background-color: #1f2937;
	padding: 0 50px;
}

.header h3 {
	font-size: 24px;
	color: #f9faf8;
}

.list-container {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 20px;
}

a {
	text-decoration: none;
	font-size: 18px;
	color: #e5e7eb;
}

/* hero */
.hero {
	flex: 1;
	display: flex;
	align-items: center;
	padding: 0 50px;
	background-color: #1f2937;
}

.left {
	flex: 1;
}

.hero-main {
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
	margin: 0;
}

.hero-secondary {
	font-size: 18px;
	color: #e5e7eb;
}

.right {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right .image {
	background-color: #e5e7eb3f;
	height: 180px;
	width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right .image .text {
	color: #f9faf8;
}

/* info */
.info {
	flex: 1;
	padding: 0 50px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.info-header {
	margin: 0;
}

.card-container {
	display: flex;
	justify-content: center;
	padding: 0 100px;
	gap: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card .image {
	border: 3px solid #3882f6;
	border-radius: 8px;
	height: 120px;
	width: 120px;
}

.card .text {
	padding: 0 22px;
}

/* quote */
.quote {
	flex: 1;
	padding: 0 50px;
	background-color: #e5e7eb;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.qoute-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 100px;
}

.quote-saying {
	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
	color: #1f2937;
	margin: 0;
}

.quote-sayer {
	font-size: 24px;
	font-weight: bolder;
	margin: 0;
	align-self: flex-end;
}

/* sign-up */
.sign-up {
	flex: 1;
	padding: 0 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sign-up-container {
	background-color: #3882f6;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.sign-up-text {
	padding-left: 100px;
}

.sign-up-text h4 {
	color: #f9faf8;
	margin: 0;
}

.sign-up-text p {
	color: #e5e7eb;
	margin: 0;
}

.sign-up-button {
	padding-right: 100px;
}

.sign-up-button button {
	border: 1px #f9faf8 solid;
}

/* footer */
.footer {
	padding: 24px 50px;
	background-color: #1f2937;
	color: #e5e7eb;
	text-align: center;
}
